################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/herental/bin
/herental.Tests/obj/Debug
/packages
/.vs/herental/v14
/.vs/config
