################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/herental/v14
/.vs/config
/*.pdf
/*.docx
/herental/bin
/herental/obj
/herental.Tests/obj
/herental.backend/bin
/herental.backend/obj
/herental.Tests/bin
/herental.backend.Tests/obj
/herental.backend.Tests/bin
/herental.BL/obj
/herental.BL/bin
/packages
*.user
*.csproj.user