################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/herental/v14
/.vs/config
/*.pdf
/*.docx
/packages
*.user
*.csproj.user
obj/
bin/
