@model IEnumerable<herental.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items for rent</h2>

<div class="row">
@foreach (var item in Model)
{
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="panel-body">
                <span class="badge">@Html.DisplayFor(modelItem => item.Type.Name)</span>
            </div>
            <div class="panel-footer">
                
                <a href="@Url.Action("Add", "Cart", new { id=item.Id, Period = 1 })" 
                   class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a>
            </div>
        </div>
    </div>
}
</div>
