@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="home-ad">
    <h1>Herental</h1>
    <p class="lead">Your heavy equipment rental</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Pick the equipment you want to rent and click on the "Cart" <span class="glyphicon glyphicon-shopping-cart"></span> icon to rent it
        </p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Learn more &raquo;"), "About", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Be at the forefront</h2>
        <p>We provide best equipment</p>
        <p>
           @Html.ActionLink(HttpUtility.HtmlDecode("Learn more &raquo;"), "About", "Home", new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Save!</h2>
        <p></p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Learn more &raquo;"), "About", "Home", new { @class = "btn btn-default" })</p>
    </div>
</div>